
.header {
  background-color: rgb(233, 236, 236);
  padding: 30px;
  text-align: center;
  font-family: Arial;

}
.topnav {
  background-color: rgb(74, 16, 88);
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: rgb(101, 30, 134);
  color: black;
}

@media screen and (max-width: 480px) {
  .topnav {width: 200px; }
  .text {margin-left: 0px;}
  
}