.header {
  background-color: rgb(233, 236, 236);
  padding: 30px;
  text-align: center;
  font-family: Arial;

}
.box {
  background-color:rgb(74, 16, 88);
}
.box1{
  background-color: aliceblue;}

.hamBurger{
  height:70%;
  display:block;
}
#nav{
  display: none;
}
@media(max-width:450px){
  #nav{
    display: none;
  }
  .hamBurger{
    display: block;
  }
  .box{
    margin:20px auto;
    flex-direction: row;
    width:98%;
  }
  .box1{
    background-color: aliceblue;
    flex-direction: row;
    width: 100%;
  }
  .box2{
    width: 97%;
    padding: 15px 0;
    margin-top:10px;
  }
}
@media(max-width:1200px){
  .hamBurger{
    display: block;
  }
  .box{
    margin:20px auto;
    flex-direction: row;
    width:98%;
  }
  .box1{
    background-color: aliceblue;
    flex-direction: row;
    width: 100%;
  }
  .box2{
    width: 97%;
    padding: 15px 0;
    margin-top:10px;
  }
}
.text{
    font-size: larger;
    font-weight: 400;
    padding-left: 200px;
}
